<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据修改</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap.min.css"/>
    <script type="text/jscript" src="__PUBLIC__/jquery-1.11.1.min.js"></script>
    <style>
        a{
            text-de: none;
        }
        .nig{
            font-size: 20px;
        }
        .nig a{
            margin-right: 1%;
        }
        .inp{
            width: 80%;
            float: left;
            margin-right: 2%;
        }
        .price-inp{
            width: 60%;
            display: inline-block;
        }
    </style>
</head>
<body>
<div  class="container">
<div style="margin-top:20px">
    <a href="/admin"><button type="button" class="btn btn-primary">专业的新增修改</button></a>
    <a href="{:url('profes/index')}"><button type="button" class="btn btn-primary">课程的新增修改</button></a>
    <a href="{:url('produc/index')}"><button type="button" class="btn btn-primary">产品类型的新增修改</button></a>
    <a href="{:url('shape/index')}"><button type="button" class="btn btn-primary">形式的新增修改</button></a>
    <a href="{:url('basic/index')}"><button type="button" class="btn btn-primary">产品类基础价格的新增修改</button></a>
</div>