{include file="public/header" /}
<div id="page-wrapper" class="user-management">
    <div class="container-fluid">
        <!-- 页面头部 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    任务管理 <small>拆课表</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-user"></i> 拆课表
                    </li>
                </ol>
            </div>
        </div>
        <ul id="myTabs" class="nav nav-tabs" role="tablist" style="float: left;">
            <li role="presentation"><a href="{:url('coudetal','id='.$msg['id'])}" >课程详情</a></li>
            <li role="presentation" class="active"><a href="{:url('disconnect','id='.$msg['id'])}" >拆课表</a></li>
            <li role="presentation" class=""><a href="{:url('couother','id='.$msg['id'])}" >学期奖详情</a></li>
            <li role="presentation" class=""><a href="{:url('coulog','id='.$msg['id'])}" >课程日志</a></li>
        </ul>
        <div style="float: right">
            <a href="{:url('taskmana/upta','id='.$id)}"><button type="button" class="tabtn">重新分配TA</button></a>
        </div>
        <div class="row">
            <div class="col-lg-12 bill-order">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td>任务编号</td>
                        <td>任务名称</td>
                        <td>比重</td>
                        <td>开始日期</td>
                        <td>截止时间</td>
                        <td>TA</td>
                        <td>抽检状态</td>
                        <td>抽检结果</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    {foreach $tas as $k=>$v}
                    <form action="{:url('chaitime')}" method="post" id="form">
                        <tr>
                            <td width="7%"><a href="{:url('ordetal','id='.$v['oid'])}">{$v.taskid}</a></td>
                            <td width="20%"><input type="text" name="tasktitle" id="tasktitle{$k}" value="{$v.tasktitle}" class="form-control"></td>
                            <td width="7%"><input type="text" name="percent" id="percent{$k}" value="{$v.percent}" class="form-control"></td>
                            <td width="18%"><input type="text" name="startdate" id="startdate{$k}" value="{$v.startdate}" class="form-control"></td>
                            <td width="18%"><input type="text" name="enddate" id="enddate{$k}" value="{$v.enddate}" class="form-control"></td>
                            <script>
                                $("#startdate{$k}").jeDate({
                                    isinitVal:true,
                                    ishmsVal:true,
                                    minDate: '2016-06-16',
                                    format:"YYYY-MM-DD",
                                    zIndex:3000,
                                })

                                $("#enddate{$k}").jeDate({
                                    isinitVal:true,
                                    ishmsVal:true,
                                    minDate: '2016-06-16 23:59:59',
                                    format:"YYYY-MM-DD hh:mm:ss",
                                    zIndex:3000,
                                })
                            </script>

                            <td width="7%">{$v.ta}</td>
                            <td width="7%">{$v.check|ch}</td>
                            <td width="7%">{$v.chresult|chec}</td>
                            <td><input type="hidden" name="id" value="{$v.id}"><input type="submit" class="tabtn">
                                </td>
                        </tr>
                    </form>
                    {/foreach}

                </table>
                <div><a href="{:url('chdao','id='.$id)}"><button type="button" class="tabtn">拆课表导出</button></a>
                    </div>
                <div class="row">
                    <div class="col-lg-12" style="text-align:center">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}