{include file="public/header" /}
<div class="findteacher-content">
    <div class="about-banner"></div>
</div>

<div class="abo">
    <div class="abtit">关于我们</div>
    <hr />
    <div class="abmsg">通过严格的教师认证体系，专注于为学生提供最为客观的优质师资信息，平台真实记录和展现教师教学及用户评价信息，
        并采用价格透明、多重选择、线上担保支付等模式，致力于打造成为最专业的辅导教师预约平台。</div>
    <div style="    padding-top: 1%;font-size: 16px;">独特价值</div>
    <div style="    padding-top: 1%;font-size: 16px;">1、学生根据真实的口碑评价，快速找到适合自己辅导的好老师</div>
    <div style="    padding-top: 1%;font-size: 16px;    padding-bottom: 5%;">2、唯一对老师进行双证（身份证、教师资格证）严格审核的辅导老师预约平台</div>
    <div class="abtit">特色与优势</div>
    <hr />
    <div>
        <img src="__PUBLIC__/images/66_05.jpg" />
        <img src="__PUBLIC__/images/66_07.jpg" />
        <img src="__PUBLIC__/images/66_08.jpg" />
        <img src="__PUBLIC__/images/66_09.jpg" />
    </div>
</div>
{include file="public/footer" /}