{include file="public/header" /}
<div class="container">
    <!--<img class="img" src="__PUBLIC__/images/6_02.jpg" >-->

    <div class="login" id="login">
        {eq name="islogin" value="0"}
        <div class="sf">
            <div class="stud " onclick="qiehuan(1)" id="stud">我是学生</div>
            <div class="teac acte" onclick="qiehuan(2)" id="teac">我是老师</div>
        </div>

        <form action="{:url('user/login')}" method="post" id="form">
        <div class="biaod clearfix">
            <div class="inpu">
                <img class="png" src="__PUBLIC__/images/1_03.png"/>
                <input type="text" name="user" id="user" value="{$name}" class="inpuu" placeholder="请输入用户名"/>
            </div>

            <div class="inpu">
                <img class="png" src="__PUBLIC__/images/1_06.png"/>
                <input type="password" name="pass" id="pass" value="{$pass}" class="inpuu" placeholder="请输入密码"/>
            </div>

            <div class="inpu">
                <img class="png" src="__PUBLIC__/images/1_08.png"/>
                <input type="text" name="code" id="code" class="inpuu yan" placeholder="请输入验证码"/>
                <img class="yanzm" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?d='+Math.random();" alt="点击更换" title="点击更换"/>
            </div>

            <div class="in">
                <label>
                <input type="checkbox" value="1" name="remen">  记住密码
                </label>
                <span style="float: right"><a href="">忘记密码？</a></span>
            </div>

            <div class="inpu">
                <div id="err" style="margin: 0"></div>
                <input type="hidden" name="is" id="is" value="1">
                <button type="button" id="btn" >登陆</button>
            </div>

            <div class="in">
                    还没有账号，<a href="{:url('user/reg')}" >立即注册</a>
            </div>
        </div>
        </form>
        {else/}
        <div class="logino">
                <img width="100px" height="100px" style="border-radius: 50px;" src="{$avatar}" >
            <div style="margin-top: 20%;width: 130%;    margin-left: -5px;">欢迎你，{$Think.session.name}</div>
        </div>
        <div>
            <a href="{:url('user/redirec')}"><button class="btn">任务列表</button></a>
        </div>
        {/eq}
    </div>
    <script>
        function qiehuan(obj) {
            if(obj == 1){
                $("#stud").removeClass('acte');
                $("#teac").addClass('acte');
                $("#is").val(1);
            }else{
                $("#stud").addClass('acte');
                $("#teac").removeClass('acte');
                $("#is").val(2);
            }
        }
        $("#btn").click(function () {
            user = $("#user").val();
            code = $("#code").val();
            pass = $("#pass").val();
            if(user == ''){
                $("#err").text('用户名不能为空');
                return false;
            }
            if(pass == ''){
                $("#err").text('密码不能为空');
                return false;
            }
            if(code == ''){
                $("#err").text('验证码不能为空');
                return false;
            }
            $("#err").text('');
            $("#form").submit();
        });
    </script>
</div>

<div class="con">
    <div class="dane">
        <img src="__PUBLIC__/images/03.png" ><span class="zxdt">最新动态</span>
    </div>
    <div>
        <div style="float: left">
            <img src="__PUBLIC__images/6_38.jpg" width="100%">
            <div class="msg">
                <div class="tc">Sara</div>
                <div class="tc">院校学历 : 波斯顿大学</div>
                <div class="tc">擅长领域 : 历史学</div>
            </div>
        </div>

        <div style="width: 1272px;">
        <div class="zolun">

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga预约了论文代写 <span style="color: #00A6DA">Miss Yang</span> </span>
                    <span class="spda">3天20小时46分钟前</span></div>
            </div>

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga向课程辅导 <span style="color: #00A6DA">Miss Yang</span> 购买的10课时已成功结课</span>
                    <span class="spda">3天20小时46分钟前</span></div>
            </div>

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga预约了论文代写<span style="color: #00A6DA"> Miss Yang</span> </span>
                    <span class="spda">3天20小时46分钟前</span></div>
            </div>

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga向课程辅导 <span style="color: #00A6DA">Miss Yang</span> 购买的10课时已成功结课</span>
                        <span class="spda">3天20小时46分钟前</span></div>
            </div>

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga预约了论文代写 <span style="color: #00A6DA">Miss Yang </span></span>
                    <span class="spda">3天20小时46分钟前</span></div>
            </div>

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga向课程辅导 <span style="color: #00A6DA">Miss Yang</span> 购买的10课时已成功结课</span>
                    <span class="spda">3天20小时46分钟前</span></div>
            </div>

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga向课程辅导 <span style="color: #00A6DA">Miss Yang</span> 购买的10课时已成功结课</span>
                    <span class="spda">3天20小时46分钟前</span></div>
            </div>

            <div class=" usln">
                <img class="spm" src="__PUBLIC__/images/06.png" >
                <div class=" sp"><span style="float: left">agaga向课程辅导 <span style="color: #00A6DA">Miss Yang</span> 购买的10课时已成功结课</span>
                    <span class="spda">3天20小时46分钟前</span></div>
            </div>
        </div>

        <div style="margin-left: 20px;float: left;width: 24%;">
            <div style="    margin: 6% 3%;"><img style="margin-right: 1%" src="__PUBLIC__/images/6_11.jpg"><img style="margin-left: 2px;" src="__PUBLIC__/images/6_03.jpg"></div>
            <div style="    margin: 9% 3%;"><img style="margin-right: 2%" src="__PUBLIC__/images/6_15.jpg"><img src="__PUBLIC__/images/6_17.jpg"></div>
        </div>

        <!--<div style="margin-left: 1%;float: left;width: 74%;    margin-top: 2px;">-->
            <!--<img class="iml" src="__PUBLIC__/images/6_22.jpg" />-->
            <!--<img class="iml" src="__PUBLIC__/images/6_24.jpg" />-->
            <!--<img class="iml" style="    margin-right: 0;" src="__PUBLIC__/images/6_27.jpg" />-->
        <!--</div>-->
        </div>
    </div>

</div>
<div class="clearfix"></div>
<div class="con">
    <div class="dane">
        <img src="__PUBLIC__/images/03.png" ><span class="zxdt">服务流程</span>
    </div>
    <img src="__PUBLIC__/images/6_35.jpg">
</div>

<div class="con">
    <div class="dane">
        <img src="__PUBLIC__/images/03.png" ><span class="zxdt">师资团队</span>
    </div>

    <div class="shizi">
        <div class="tech">
            <img src="__PUBLIC__/images/6_38.jpg" style="width: 99%;">
            <div style="float: left">
                <div class="tena">Sara</div>
                <div class="teot">院校学历 : 波斯顿大学</div>
                <div class="teot">擅长领域 : 历史学</div>

            </div>
            <!--<div style="float: right;margin-top: 15%;"><button class="chbtn">查看详情</button></div>-->
        </div>

        <div class="tech">
            <img src="__PUBLIC__/images/6_44.jpg"  style="width: 99%;">
            <div style="float: left">
                <div class="tena">Sara</div>
                <div class="teot">院校学历 : 波斯顿大学</div>
                <div class="teot">擅长领域 : 历史学</div>

            </div>
            <!--<div style="float: right;margin-top: 15%;"><button class="chbtn">查看详情</button></div>-->
        </div>

        <div class="tech">
            <img src="__PUBLIC__/images/6_40.jpg"  style="width: 99%;">
            <div style="float: left">
                <div class="tena">Sara</div>
                <div class="teot">院校学历 : 波斯顿大学</div>
                <div class="teot">擅长领域 : 历史学</div>

            </div>
            <!--<div style="float: right;margin-top: 15%;"><button class="chbtn">查看详情</button></div>-->
        </div>

        <div class="tech" style="padding-right: 0;">
            <img src="__PUBLIC__/images/6_42.jpg"  style="width: 86%;">
            <div style="float: left">
                <div class="tena">Sara</div>
                <div class="teot">院校学历 : 波斯顿大学</div>
                <div class="teot">擅长领域 : 历史学</div>

            </div>
            <!--<div style="margin-left: 60%;margin-top: 15%;"><button class="chbtn">查看详情</button></div>-->
        </div>

    </div>
</div>

{include file="public/footer" /}