{include file="public/public" /}

<div class="cla">
    <form action="/index/index/show" id="form" method="post">
        <div></div>
        <div class="form-group ">
            <label for="privi" class="fs20">请选择并输入优惠信息</label>
            <span>(非必选)</span>
            <!--<span><a href="#" onclick="add()">添加更多优惠信息</a></span>-->
            <div>
                <select id="privi" class="form-control select sele flm">
                    <option value="0">请选择</option>
                    <option value="1">VIP用户</option>
                    <option value="2">特别优惠</option>
                    <option value="3">本期促销</option>
                    <option value="4">补偿</option>
                </select>
                <input type="text" name="privi" class="form-control sele  select" placeholder="请输入金额">
            </div>

            <div id="privi2" class="">
                <select class="form-control select sele flm">
                    <option value="0">请选择</option>
                    <option value="1">VIP用户</option>
                    <option value="2">特别优惠</option>
                    <option value="3">本期促销</option>
                    <option value="4">补偿</option>
                </select>
                <input type="text" name="privi2" class="form-control sele  select" placeholder="请输入金额">
            </div>

            <div id="privi3" class="">
                <select class="form-control select sele flm">
                    <option value="0">请选择</option>
                    <option value="1">VIP用户</option>
                    <option value="2">特别优惠</option>
                    <option value="3">本期促销</option>
                    <option value="4">补偿</option>
                </select>
                <input type="text" name="privi3" class="form-control sele  select" placeholder="请输入金额">
            </div>

            <div id="privi4" class="">
                <select class="form-control select sele flm">
                    <option value="0">请选择</option>
                    <option value="1">VIP用户</option>
                    <option value="2">特别优惠</option>
                    <option value="3">本期促销</option>
                    <option value="4">补偿</option>
                </select>
                <input type="text" name="privi4" class="form-control sele  select" placeholder="请输入金额">
            </div>

        </div>
        <div style="clear: both; clear: both;padding-top: 1%;width: 20%;margin: 0 auto;">
            <input type="hidden" name="id" value="{$id}"/>
            <a href="javascript:history.go(-1);"><button type="button"class="btn btn-primary" style="width: 44%;padding: 2%;">返回</button></a>
            <button type="submit" class="btn btn-primary" style="width: 44%;padding: 2%;">确定</button>
        </div>
    </form>
</div>