<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报价单</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap.min.css"/>
    <style>
        .nig{
            font-size: 30px;
            padding-top: 1%;
        }
        .table-head{
            
            color: #fff;
        }
        .table-head th{
            background: #337ab7;
        }
        .table{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="nig" style="float: left">报价单</div>
    <div style="float: left;padding: 2%;"><a href="/" target="_blank">回首页</a> </div>
<div style="font-size: 20px;clear: both">{$pro.numid}{$pro.profe|name}专业{$pro.subject}报价</div>
<div style="">
    <table class="table table-bordered table-striped table-hover">
        <tr class="table-head">
            <th>类型</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价（单位美元）</th>
        </tr>

        {foreach $mag as $p}
        <tr>
            <td>{$p.name}</td>
            <td>{$p.price}</td>
            <td>{$p.num}</td>
            <td>{$p.total}</td>
        </tr>
        {/foreach}
        <tr>
            <td>加急费用</td>
            <td></td>
            <td></td>
            <td>{$jiaji}</td>
        </tr>
        <tr>
            <td>优惠</td>
            <td></td>
            <td></td>
            <td>{$youhui}</td>
        </tr>
        <tr>
            <th>总价</th>
            <td></td>
            <td></td>
            <td>{$zongjia}</td>
        </tr>
    </table>

    {eq name="no" value="1"}
    <span>如按比重计算</span>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>类型</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价（单位美元）</th>
        </tr>

        <tr>
            <td>{$name}</td>
            <td>{$totalper}</td>
            <td>1</td>
            <td>{$totalper}</td>
        </tr>

        <tr>
            <td>加急费用</td>
            <td></td>
            <td></td>
            <td>{$jiaji}</td>
        </tr>
        <tr>
            <td>优惠</td>
            <td></td>
            <td></td>
            <td>{$youhui}</td>
        </tr>
        <tr>
            <td>总价</td>
            <td></td>
            <td></td>
            <td>{$zongper}</td>
    {/eq}
</div>

    <div>
        <a href="{:url('tiao')}" target="_blank"><button  class="btn btn-primary" >调试</button></a>
    </div>

</div>

</body>
</html>